/* Define breakpoints where grid alignment should be adjusted */
/* basis of flex comes from  https://codepen.io/taniarascia/pen/rOLEGe/ */

.alwaysFlex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.alwaysFlex .column{
    flex: 1;
}
.alwaysFlex .column_25 {
    flex: 2.5;
}
.alwaysFlex .colum_50 {
    flex: 5;
}
.alwaysFlex .column_75{
    flex: 7.5;
}
.column {
  flex-basis: 100%;
    margin: .1em 0;
    padding: .3em 0;
}

/* I'm only having one breakpoint. Phones (768 and smaller will treat columns as rows, 
larger devices will auto adjust their widths.
*/
@media screen and (min-width: 768px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .column {
    flex: 1;
    padding: .3em;
  }
  .column_25 {
    flex: 2.5;
  }
  .colum_50 {
    flex: 5;
  }
  .column_75{
    flex: 7.5;
  }
  .column_60 {
    flex: 6;
  }
  .column_40{
    flex: 4;
  }
}
