/* this file holds the CSS to normalize or reset browser defaults on the elements that I have on my site */

/* idea from Elad Shechter @ https://medium.com/@elad/normalize-css-or-css-reset-9d75175c5d1e */

*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: transparent;
    color: inherit;
    border-width: 0;
    padding: 0;
    cursor: pointer;
}

figure {
    margin: 0;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin: 0;
}

ul,
ol,
dd {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-inline-start: 0 margin-block-start: 0;
    margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
}

p {
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

section,
div {
    margin: 0;
    padding: 0;
}
