/* this file store generic CSS for the html tags */
body{
    font-family: 'Open Sans', arial;
    font-size: 16px;
    font-weight: normal;
    color: var(--secondary-darker);
}

footer {
    background: var(--gray-light);
    padding: 5px;
    color: var(--gray-dark);
}
footer a {
    color: var(--primary);
    border-bottom: 0;
    font-weight: 600;
}
nav{
    background: var(--white);
    padding: 5px;
    color: var(--black);
}
nav a, nav li.sub-nav-trigger {
    color: var(--primary);
    font-weight: 600;
}
nav a:hover{
    text-decoration: none;
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    text-transform: none;
}

h1 {
    font-size: 2.8rem;
    text-transform: initial;
    line-height: 1.2em;
    color: var(--primary);
}

h2 {
    font-size: 2.6rem;
    margin-top: 12rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.375em;
    text-transform: uppercase;
}

p {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

a {
    color: var(--primary);
    text-decoration: none;
}

//List Items
ol li, ul li {
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

ul {
    li {
        list-style-type: disc;
    }
}

ol {
    display: block;
}
ol li {
    counter-increment: count;
    list-style-type: none;
    margin-left: 3rem;
    position: relative;
}

ol li:before, ol li:after {
    position: absolute;
}

ol li:after {
    content: counter(count);
    color: var(--white);
    font-weight: 700;
    font-size: 1.4rem;
    left: -2.4rem;
    line-height: 1.2em;
    top: 2px;
}

ol li:before {
    content: "";
    background-color: var(--tertiary);
    border-radius: 50%;
    left: -3rem;
    padding: 1rem;
    z-index: -1;
}

@media screen and (min-width: 768px) {
    
    h1 {
        font-size: 3.6rem;
    }
    
    h2 {
        font-size: 3.2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    h3 {
        font-size: 2.8rem;
    }
    
    h4 {
        font-size: 2rem;
    }
    
    h5 {
        font-size: 1.5rem;
    }
    
    h6 {
        font-size: 1.1rem;
        line-height: 1.375em;
    }
    
}