/* this file store generic CSS for the html tags */
body{
    font-family: 'Open Sans', arial;
    font-size: 16px;
    font-weight: normal;
    color: var(--secondary-darker);
    max-width: 1024px;
    margin: 10px;
}

footer {
    background: var(--gray-light);
    padding: 5px 10px;
    color: var(--gray-dark);
}
footer .row{
    margin-bottom: 0;
}
footer a {
    color: var(--primary);
    border-bottom: 0;
    font-weight: 600;
}

nav{
    background: var(--gray-light);
    color: var(--black);
}
nav a, nav li.sub-nav-trigger {
    color: var(--primary);
    font-weight: 600;
}
nav a:hover{
    text-decoration: none;
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
    text-transform: none;
}

h1 {
    font-size: 2.8rem;
    text-transform: initial;
    line-height: 1.2em;
    color: var(--primary);
}

h2 {
    font-size: 2.6rem;
    margin-top: 12rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.2rem;
    width: 100%;
    background: var(--secondary-darker);
    text-align: center;
    padding: 5px 0px;
    color: var(--white);
    text-transform: uppercase;
}

h6 {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.375em;
    text-transform: uppercase;
}

p {
    padding-top: 1rem;
    color: var(--secondary-darker);
}

a {
    color: var(--primary);
    text-decoration: none;
}


ol li, ul li {
   margin: 13px 0;
}


section{
    padding: 0;
    margin: 0 0 10px 0;
    background: var(--white);
}


@media screen and (min-width: 768px) {
    
    h1 {
        font-size: 3.6rem;
    }
    
    h2 {
        font-size: 3.2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    h3 {
        font-size: 2.8rem;
    }
    
    h4 {
        font-size: 2rem;
    }
    
    h5 {
    font-size: 1.5rem;
    }
    
    h6 {
        font-size: 1.1rem;
        line-height: 1.375em;
    }
    
}

@media screen and (min-width: 1024px){
    body{
        margin: 0 auto;
        background: var(--blue-light);
    }
    
}